<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"  *ngIf="isAuth">
      <app-notification-icon [newNotifications]="10"></app-notification-icon>
      <app-chat-icon [newNotifications]="10"></app-chat-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="profile">
    <div class="profile__header">
      <img
        *ngIf="profile.photo"
        class="profile__header--image"
        src="{{profile.photo}}"
        alt=""
      />
      <img
        *ngIf="!profile.photo"
        class="profile__header--image"
        src="../../assets/images/avatar-profile.jpg"
        alt=""
      />
      <div class="profile__header--title">{{profile.name}}</div>
    </div>
    <div class="profile__info">
      <div class="profile__info--box">
        <p><ion-icon name="star"></ion-icon> {{profile.rating |number:'1.1-1'}}</p>
      </div>
      <div class="profile__info--box">
        <p><ion-icon name="pricetags"></ion-icon> {{profile.sales}}</p>
      </div>
      <div class="profile__info--box">
        <p><ion-icon name="albums"></ion-icon> {{products.length}}</p>
      </div>
    </div>

    <div class="profile__btns">
      <div class="profile__btns--chat">
        <ion-button *ngIf="isAuth"
          color="success"
          shape="round"
          (click)="sendMessage(profile.id)"
        >
          <ion-icon name="chatbox-outline"></ion-icon>
          Enviar Mensaje
        </ion-button>
      </div>
      <div class="profile__btns--favorite">
        <ion-icon
          (click)="eventFavorite(false)"
          *ngIf="profile.favorite"
          slot="start"
          name="heart"
        ></ion-icon>
        <ion-icon
          (click)="eventFavorite(true)"
          *ngIf="!profile.favorite"
          slot="start"
          name="heart-outline"
        ></ion-icon>
      </div>
    </div>
  </div>

  <ion-card-content>
    <!-- Nav -->
    <ion-segment
      value="vewProduct"
      [(ngModel)]="type"
      (ionChange)="segmentChanged($event)"
      scrollable
    >
      <ion-segment-button value="vewProduct" checked>
        <ion-label>Prod.</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile">
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="review">
        <ion-label>Reseñas</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Detail products -->
    <ion-list *ngIf="type === 'vewProduct'">
      <ion-label> Lista de Productos</ion-label>
      <ion-row>
        <ion-col size="12" *ngFor="let product of products[0]">
          <app-product-card-hrz [product]="product"></app-product-card-hrz>
          <!-- <app-product-card [product]="product"></app-product-card> -->
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- Detail profile -->
    <ion-list *ngIf="type === 'profile'">
      <ion-card-subtitle
        >Descripción: {{profile.description}}</ion-card-subtitle
      >
      <ion-card-subtitle>Teléfono: {{profile.phone}}</ion-card-subtitle>
      <ion-card-subtitle>Correo: {{profile.publicEmail}}</ion-card-subtitle>
      <ion-card-subtitle>Dirrección: {{profile.address}}</ion-card-subtitle>
    </ion-list>

    <!-- Detail review -->
    <ion-list *ngIf="type === 'review'">
      <ion-button *ngIf="!isProfile && isAuth"
        fill="outline"
        size="small"
        (click)="openReviewModal(profile.id)"
        ><ion-icon slot="start" name="add"></ion-icon> Agregar
      </ion-button>
      <ion-item *ngFor="let review of reviews">
        <ion-avatar slot="start">
          <img src="{{review.author.photo}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{review.author.name}}</h2>
          <h3>
            <p>
              <ion-icon name="star"></ion-icon> {{ review.rating |
              number:'1.1-1' }}
            </p>
          </h3>
          <p>{{review.content}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>

<ion-footer *ngIf="!isAuth">
  <ion-toolbar >
    <p>Para ver todas las opciones (Vender, comprar y cotizar).</p>
    <ion-button expand="block"  shape="round" (click)="goLogin()"
        >Inicia sesión</ion-button
      >
  </ion-toolbar>
</ion-footer>

