.img-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-avatar { 
    width: 200px;  
    height: 200px;  
}
  .favorite {
    font-size: 1.7rem;
  }
  ion-card-title  {
    font-size: 100%;
  }
  
ion-card img{
  height: 100px;
}

.img-center{
  width:100%;
}
  