<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-notification-icon [newNotifications]="10"></app-notification-icon>
      <app-chat-icon [newNotifications]="10"></app-chat-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="profile">
    <div class="profile__header">
      <img class="profile__header--image" src="{{profile.photo}}" alt="" />
      <div class="profile__header--title">{{profile.name}}</div>
    </div>
    <div class="profile__info">
      <div class="profile__info--box">
        <p><ion-icon name="star"></ion-icon> {{profile.rating}}</p>
      </div>
      <div class="profile__info--box">
        <p><ion-icon name="pricetags"></ion-icon> {{profile.sales}}</p>
      </div>
      <div class="profile__info--box">
        <p><ion-icon name="albums"></ion-icon> {{profile.products}}</p>
      </div>
    </div>

    <div class="profile__btns">
      <div class="profile__btns--chat">
        <ion-button color="success" shape="round" (click)="sendMessage(profile.id)" >
          <ion-icon name="chatbox-outline"></ion-icon>
          Enviar Mensaje
        </ion-button>
      </div>
      <div class="profile__btns--favorite">
        <ion-icon (click)="eventFavorite(false)" *ngIf="profile.favorite" slot="start" name="heart"></ion-icon>
        <ion-icon (click)="eventFavorite(true)" *ngIf="!profile.favorite" slot="start" name="heart-outline"></ion-icon>
      </div>

    </div>
  </div>

  <ion-card-content>
    <!-- Nav -->
    <ion-segment
      value="vewProduct"
      [(ngModel)]="type"
      (ionChange)="segmentChanged($event)"
      scrollable
    >
      <ion-segment-button value="vewProduct" checked>
        <ion-label>Prod.</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile">
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
      <ion-segment-button value="review">
        <ion-label>Reseñas</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Detail products -->
    <ion-list *ngIf="type === 'vewProduct'">
      <ion-label> Lista de Productos</ion-label>
      <ion-row>
        <ion-col size="12" *ngFor="let product of products[0]">
          <app-product-card-hrz [product]="product"></app-product-card-hrz>
          <!-- <app-product-card [product]="product"></app-product-card> -->
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- Detail profile -->
    <ion-list *ngIf="type === 'profile'">
      <ion-card-subtitle
        >Descripción: {{profile.description}}</ion-card-subtitle
      >
      <ion-card-subtitle>Teléfono: {{profile.phone}}</ion-card-subtitle>
      <ion-card-subtitle>Correo: {{profile.publicEmail}}</ion-card-subtitle>
      <ion-card-subtitle>Dirrección: {{profile.address}}</ion-card-subtitle>
    </ion-list>

    <!-- Detail review -->
    <ion-list *ngIf="type === 'review'">
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=800&h=661&q=70&fm=webp"
            />
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-card-content>
</ion-content>
