<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form
    [formGroup]="validationFormUser"
    (ngSubmit)="login(validationFormUser.value)"
  >
    <ion-grid>
      <div class="intro__content__image">
        <img
          class="intro__content__image--img"
          alt="Tianguis"
          src="../../assets/images/tianguis.png"
        />
      </div>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <p><strong>Te damos la bienvenida</strong>, introduce tus datos</p>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                name="email"
                formControlName="email"
                type="email"
                placeholder="E-mail"
                [(ngModel)]="user.email"
              ></ion-input>
            </ion-item>
            <div>
              <ng-container
                *ngFor="let validation of validationUserMessage.email"
              >
                <ion-note
                  slot="error"
                  class="ion-invalid"
                  *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)"
                >
                  {{validation.message}}
                </ion-note>
              </ng-container>
            </div>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                formControlName="password"
                placeholder="Contraseña"
                [(ngModel)]="user.password"
              ></ion-input>
            </ion-item>
            <div>
              <ng-container
                *ngFor="let validation of validationUserMessage.password"
              >
                <ion-note
                  slot="error"
                  class="ion-invalid"
                  *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)"
                >
                  {{validation.message}}
                </ion-note>
              </ng-container>
            </div>
          </div>
          <div padding>
            <ion-button type="submit" expand="block" >
              Ingresar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top" justify-content-center>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding (click)="registerPage()">
            <a>Registrar</a>
          </div>
        </ion-col>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding>
            <a href="#">Olvidé mi contraseña</a>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item-divider
            ><strong>Iniciar sesión con:</strong></ion-item-divider
          >
        </ion-col>
      </ion-row>
      <ion-row   class="ion-justify-content-center">
        <ion-col  size-md="4" size-lg="3" size-xs="6">
          <div padding>
            <ion-button
              class="custom-button google-button"
              expand="block"
              (click)="googleAuth()"
            >
              <ion-icon name="logo-google"></ion-icon>
              <ion-text>Google</ion-text>
            </ion-button>
          </div>
        </ion-col>
        <!-- <ion-col size-md="4" size-lg="3" size-xs="6">
          <div padding>
            <ion-button
              class="custom-button facebook-button"
              expand="block"
              (click)="facebookAuth()"
            >
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-text>Facebook</ion-text>
            </ion-button>
          </div>
        </ion-col> -->
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <p>Segui explorando <a href="/app/tabs/home">Tianguis</a></p>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
