<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>tianguis</h3>
          </div>
          <div padding>
            <p>Te damos la bienvenida, introduce tus datos</p>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                name="email"
                type="email"
                placeholder="E-mail"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                placeholder="Contraseña"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">
              Ingresar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top" justify-content-center>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding>
            <a href="/register">Registrar</a>
          </div>
        </ion-col>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding>
            <a href="#">Olvidé mi contraseña</a>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item-divider>Iniciar sesión con:</ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding>
            <ion-button color="secondary" expand="block" (click)="googleAuth()">
              <ion-icon name="logo-google"></ion-icon>
              <ion-text>&nbsp;Google</ion-text>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-md="3" size-lg="2" size-xs="6">
          <div padding>
            <ion-button color="secondary" expand="block" (click)="facebookAuth()">
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-text>&nbsp;Facebook</ion-text>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
