<ion-toolbar>
 <!--  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons> -->
  <ion-title >
    <img class="intro__img" alt="Tianguis" src="../../assets/images/tianguis-ico-t.png" />


  </ion-title>
  <ion-buttons slot="end" *ngIf="isAuth">
    <app-notification-icon [newNotifications]="10"></app-notification-icon>
    <app-chat-icon [newNotifications]="10"></app-chat-icon>
  </ion-buttons>
</ion-toolbar>
