<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment
    value="info"
    [(ngModel)]="type"
    (ionChange)="segmentChanged($event)"
    scrollable
  >
    <ion-segment-button value="offers">
      <ion-label>Ofertas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="myOffers">
      <ion-label>Aceptadas</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-response-quote-list
    *ngIf="type === 'offers'"
    [responseQuotes]="responses"
  ></app-response-quote-list>
  <app-response-quote-list
    *ngIf="type === 'myOffers'"
    [responseQuotes]="responsesAcepted"
  ></app-response-quote-list>
  <div *ngIf="responses.length <1 && responsesAcepted.length<1">
    <h2>No tienes ofertas.</h2>
  </div>
</ion-content>
