<ion-header [translucent]="true">
  <app-header-bar></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="ion-text-center">
      <h2>Registrar</h2>
    </div>
    <form #frm="ngForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Producto</ion-label>
            <ion-input
              name="name"
              type="text"
              [(ngModel)]="product.name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea
              name="description"
              type="text"
              [(ngModel)]="product.description"
              required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Precio </ion-label>
            <ion-input
              type="number"
              step="any"
              name="price"
              [(ngModel)]="product.price"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="stacked">Categorias</ion-label>
            <ion-select
              multiple="true"
              (ionChange)="handleChange($event)"
              placeholder="Seleccione una categoria"
              required
            >
              <ion-select-option
                *ngFor="let category of categories"
                [value]="category"
                >{{category.name}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <span *ngFor="let category of categoriesSelect">
            <ion-badge color="medium">{{category.name}}</ion-badge>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select
              (ionChange)="handleStatus($event)"
              placeholder="Seleccione un estado"
              required
            >
              <ion-select-option value="NEW">Nuevo</ion-select-option>
              <ion-select-option value="USED">Usado</ion-select-option>
              <ion-select-option value="OPEN BOX">En caja</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select
              (ionChange)="handleType($event)"
              placeholder="Seleccione un tipo"
              required
            >
              <ion-select-option value="PRODUCT">Producto</ion-select-option>
              <ion-select-option value="SERVICE">Servicio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-label>Imagenes del producto</ion-label>
      <ion-row>

        <ion-col size="6">
          <ion-button expand="full" shape="round" (click)="selectImageCamera()">
            <ion-icon slot="start" name="camera"></ion-icon>
            Cámara
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" shape="round" (click)="selectImage()">
            <ion-icon slot="start" name="images"></ion-icon>
            Galería
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item *ngFor="let file of images">
              <ion-thumbnail slot="start">
                <ion-img [src]="file.data"> </ion-img>
              </ion-thumbnail>
              <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button expand="full" type="submit" [disabled]="frm.invalid"
        >Registrar</ion-button
      >
      <!-- <ion-button expand="full" type="submit" 
        >Guardar</ion-button> -->
      
    </form>
  </ion-grid>
</ion-content>

