form {
  height: 100%;
  display: flex;
  align-items: center;
}

.intro {
 

  &__content__image {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--img {
      width: 80%;
      margin: auto;
      padding: auto;
    }
  }

}

ion-content{
  font-family: 'DM Sans', sans-serif;
}