<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="right">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{image}}" />
      </ion-avatar>
      <ion-label>
        <h3>{{product.name}}</h3>
        <p>{{ product.price | currency: "Q" }}</p>
      </ion-label>
    </ion-item>

    <ion-list>
      <!-- <ion-row *ngFor="let i of [1]">
        <ion-col size="10">
          <div class="no-gutters">
            <div class="message-your">
                <div class="chat-bubble chat-bubble--left">                
                  <span>Hola!</span><br>
                  <div class="time" text-ring>12/02/22, 2:01pm</div>
                </div>
            </div>
          </div>
        </ion-col>  
      </ion-row> -->

      <ion-row *ngFor="let m of messages">
        <ion-col size="2"></ion-col>
        <ion-col size="10">
          <div class="no-gutters">
            <div class="message-me">
              <div class="chat-bubble chat-bubble--right">
                <span>{{m.message}}</span><br />
                <div class="time" text-ring>{{m.createdAt | date:'short'}}</div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button expand="block" fill="clear" color="dark">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button ><ion-icon name="clipboard"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="share"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="checkmark-circle-outline"></ion-icon></ion-fab-button>


    </ion-fab-list>
    
    
</ion-fab> -->
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col>
        <div class="chat-box-tray">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-input
            type="text"
            [(ngModel)]="newMessage"
            placeholder="Escribe tu mensaje aquí..."
          >
          </ion-input>

          <ion-icon
            name="send"
            slot="icon-only"
            (click)="sendMessage()"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      
      <ion-col size="10">
          <textarea autozice maxRows="2" class="message-input" [(ngModel)]="newMessage">

          </textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMessage === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-toolbar>
</ion-footer>
