ion-card-title{
    font-size:0.9rem;
}

.center-img{
    width:100%;
    text-align: center;
    align-content: center;
    align-self: center;
}

ion-card img { 
    
    width: auto; 
    height: 18vh; 
}