ion-card-title{
    font-size:0.9rem;
}
ion-card-header{
    margin: 0;
    padding: 5px;

}
ion-card{
    padding: 5px;
}
.center-img{
    width:100%;
    text-align: center;
    align-content: center;
    align-self: center;
}

ion-card img { 
    
    width: auto; 
    height: 18vh; 
}