<div class="card-hrz">
  <div class="card-hrz__col" >
    
    <swiper [slidesPerView]="1" [spaceBetween]="2" class="mySwiper" >
      <ng-template
        swiperSlide
        *ngFor="let img of product.images"
        class="ion-align-items-stretch"
      >
        <img class="card-hrz__col--image" src="{{ img}}" alt="" />
      </ng-template>
    </swiper>
  </div>
  <div class="card-hrz__col--data">
    <p class="card-hrz__col--data--name" (click)="selectProduc(product.id)">{{ product.name }}</p>
    <p class="card-hrz__col--data--rating"><ion-icon name="star"></ion-icon> {{product.rating}} </p>
    <div class="card-hrz__col--data--details">
      <div class="card-hrz__col--data--details--price">
        {{product.price | currency:'Q'}}
        <div *ngIf="product.oldPrice >0" class="card-hrz__col--data--details--old">
          <del>{{product.oldPrice | currency:'Q'}}</del> 
        </div>
      </div>
      <div class="card-hrz__col--data--details--heart">
        <ion-icon (click)="eventFavorite(false)" *ngIf="isFavorite" slot="start" name="heart"></ion-icon>
        <ion-icon (click)="eventFavorite(true)" *ngIf="!isFavorite" slot="start" name="heart-outline"></ion-icon>
      </div>
    </div>
    
  </div>
</div>
