<ion-toolbar>
  <ion-buttons slot="end">
    <!--  <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button> -->
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding" scroll-y="false">
  <!-- <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide">
        <h1>Compra</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula arcu
          mus faucibus gravida conubia malesuada sodales, ad porta tempor
          bibendum morbi penatibus.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Vende</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula arcu
          mus faucibus gravida conubia malesuada sodales, ad porta tempor
          bibendum morbi penatibus.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Cotiza</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula arcu
          mus faucibus gravida conubia malesuada sodales, ad porta tempor
          bibendum morbi penatibus.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <h1>Emprende</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, vehicula arcu
          mus faucibus gravida conubia malesuada sodales, ad porta tempor
          bibendum morbi penatibus.
        </p>
        <ion-button expand="block" (click)="start()">Empezar</ion-button>
      </div>
    </ion-slide>
  </ion-slides> -->

  <div class="intro">
    <img class="intro__img" alt="Tianguis" src="../../assets/images/tianguis.png" />
    <div class="intro__content">
      <swiper class="mySwiper"
        [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
      } "
      >
        <ng-template swiperSlide *ngFor=" let a of [1]">
          <div>
            <h3>Compra</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium unde earum tenetur doloremque praesentium quia sequi velit quasi neque, eligendi minus, beatae fuga atque, mollitia repudiandae? Fuga, molestiae necessitatibus!</p>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="intro__btns">
      <ion-button expand="block" shape="round" (click)="register()">Crear Nueva Cuenta</ion-button>
      <ion-button expand="block" fill="outline" shape="round" (click)="login()"
        >Iniciar Sesión</ion-button
      >
    </div>
  </div>
</ion-content>
