<ion-toolbar>
  <ion-buttons slot="end">
    <!--  <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button> -->
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding" scroll-y="false" >

  <div class="intro">
    <div class="intro__content__image">
      <img class="intro__content__image--img" alt="Tianguis" src="../../assets/images/tianguis.png" />
    </div>
    
    <div class="intro__content">
      <swiper 
      [spaceBetween]="30"
    [centeredSlides]="true"
    [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }"
    [pagination]="{
      clickable: true
    }"
      >
        <ng-template swiperSlide *ngFor=" let slide of slides">
          <div>
            <h3 class="intro__content--title-section ">{{slide.title}}</h3>
            <p>{{slide.description}}</p>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="intro__btns">
      <ion-button expand="block"  shape="round" (click)="continue()"
        >Continuar</ion-button
      >
      <!-- <ion-button expand="block" shape="round" (click)="register()">Crear Nueva Cuenta</ion-button>
      <ion-button expand="block" fill="outline" shape="round" (click)="login()"
        >Iniciar Sesión</ion-button
      > -->
    </div>
  </div>
</ion-content>
