<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h3>Marco Linares</h3>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label> Marketplace </ion-label>
    </ion-item-divider>
    <ion-item (click)="viewRedirect('/app/tabs/home')">
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>Compra</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/app/tabs/sell')" >
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>Vende</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/app/tabs/quote')">
      <ion-icon name="documents" slot="start"></ion-icon>
      <ion-label>Cotiza</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>Emprende</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Empleos</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/app/tabs/coupons')">
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <ion-label>Cupones</ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label> Mi Cuenta </ion-label>
    </ion-item-divider>
    <ion-item color="primary">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Hazme Premium</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/chats')">
      <ion-icon name="chatbubbles" slot="start"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wallet" slot="start"></ion-icon>
      <ion-label>Mi Billetera</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="eye" slot="start"></ion-icon>
      <ion-label>Opciones de privacidad</ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label> Ayuda </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-icon name="help-circle" slot="start"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>Políticas, Términos y Condiciones</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
