<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="{{user.profile.photo }}"
        />
      </ion-avatar>
      <ion-label>
        <h3>{{user.profile.name }}</h3>
      </ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="signOut()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label> Marketplace </ion-label>
    </ion-item-divider>
    <ion-item (click)="viewRedirect('/app/tabs/home')">
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>Compra</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/app/tabs/sell')">
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>Vende</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/app/tabs/quote')">
      <ion-icon name="documents" slot="start"></ion-icon>
      <ion-label>Cotiza</ion-label>
    </ion-item>
    <ion-item (click)="viewRedirect('/launch')">
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>Emprende</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Empleos</ion-label>
    </ion-item> -->
    <!-- <ion-item (click)="viewRedirect('/app/tabs/coupons')">
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <ion-label>Cupones</ion-label>
    </ion-item> -->
    <ion-item-divider>
      <ion-label> Mi Cuenta </ion-label>
    </ion-item-divider>
    <!-- <ion-item color="primary">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Hazme Premium</ion-label>
    </ion-item> -->
    <ion-item (click)="viewRedirect('/profile')">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-item>

    <ion-item (click)="viewRedirect('/chats')">
      <ion-icon name="chatbubbles" slot="start"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-item>
    <!-- <ion-item (click)="viewRedirect('/wallet')">
      <ion-icon name="wallet" slot="start"></ion-icon>
      <ion-label>Mi Billetera</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="eye" slot="start"></ion-icon>
      <ion-label>Opciones de privacidad</ion-label>
    </ion-item> -->
    <ion-item-divider>
      <ion-label> Ayuda </ion-label>
    </ion-item-divider>
    <!-- <ion-item>
      <ion-icon name="help-circle" slot="start"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item> -->
    <ion-item>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>Políticas, Términos y Condiciones</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
