<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quote">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>Cotiza</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sell">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Vende</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="launch">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Emprende</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
