<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar placeholder="Buscar"></ion-searchbar> -->

  <ion-list>
    <div *ngIf="chats.length<1">
      <ion-badge color="primary">Aun no tienes chats, selecciona desde un producto.</ion-badge>
    </div>
    <ion-card *ngFor="let chat of chats" (click)="sendMessage(chat._id)">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{chat.profile.photo}}" />
        </ion-avatar>
        <ion-label>
          <b> {{chat.profile.name}}</b> <br />
          <p>{{chat.messages[0].message}}</p>
          <div class="time">{{chat.messages[0].createdAt|date:'short'}}</div>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newchat()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
