<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar placeholder="Buscar"></ion-searchbar> -->

  <ion-list>
    <div *ngIf="chats.length<1">
      <ion-badge color="primary"
        >Aun no tienes chats, selecciona desde un producto.</ion-badge
      >
    </div>
    <ion-card *ngFor="let chat of chats" (click)="sendMessage(chat._id)">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{chat.profile.photo}}" />
        </ion-avatar>
        
        <ion-label *ngIf="chat.messages && chat.messages.length > 0">
          <b> {{chat.profile.name}}</b> <br />
          <p *ngIf="chat.product"><b>Producto:</b> {{chat.product.name}}</p>
          <ion-row>
            <ion-col col="8">
              <p>{{chat.messages[0].message}}</p>
            </ion-col>
            <ion-col col="4">
              <div class="time">
                {{chat.messages[0].createdAt | customDate}}
              </div>
            </ion-col>
          </ion-row>
        </ion-label>

        <ion-label *ngIf="!chat.messages || chat.messages.length === 0">
          <b> {{chat.profile.name}}</b> <br />
          <p *ngIf="chat.product"><b>Producto:</b> {{chat.product.name}}</p>
          <ion-row>
            <ion-col col="8">
              <p><strong>No hay Mensajes</strong></p>
            </ion-col>
            <ion-col col="4">
              <div class="time">
                <div class="time">Enviado.</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-label>

      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
