<ion-header>
  <ion-toolbar>
    <ion-title>Política de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    ></p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&Uacute;ltima actualizaci&oacute;n: septiembre de 2023</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >Lea con atenci&oacute;n esta pol&iacute;tica de privacidad (la
        &ldquo;Pol&iacute;tica&rdquo;) para comprender c&oacute;mo Negocios y
        Oportunidades, S.A. a trav&eacute;s de Tianguis (&ldquo;Tianguis&rdquo;,
        &ldquo;nosotros&rdquo;) utiliza la informaci&oacute;n personal. Al
        acceder o utilizar www.tianguis.app, la aplicaci&oacute;n m&oacute;vil
        de Tianguis, cualquier otro sitio, aplicaci&oacute;n, servicio y
        producto relacionados o cualquier otro sitio web operado por Tianguis
        que se remita a la presente pol&iacute;tica (cada uno, el
        &ldquo;Sitio&rdquo;), reconoce que ha le&iacute;do y comprendido la
        presente Pol&iacute;tica. Esta Pol&iacute;tica puede cambiar de vez en
        cuando; cualquier cambio que hagamos a esta Pol&iacute;tica se
        publicar&aacute; en este Sitio. Tambi&eacute;n tomaremos otras medidas
        en la medida en que lo requiera la ley aplicable, incluida la
        notificaci&oacute;n de cambios sustanciales. Los cambios a la presente
        Pol&iacute;tica entran en vigor a partir de la fecha de
        &ldquo;&Uacute;ltima actualizaci&oacute;n&rdquo; indicada. Te
        recomendamos consultar con frecuencia la Pol&iacute;tica para enterarte
        de las actualizaciones o los cambios.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 19px">Versi&oacute;n corta</span></strong
        ></span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >Informaci&oacute;n que recopilamos.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Usted nos brinda directamente la mayor parte de la
        informaci&oacute;n que recopilamos cuando se registra en el Sitio, lo
        usa, completa formularios o se registra en cualquiera de nuestros
        programas. Adem&aacute;s, recopilamos informaci&oacute;n sobre sus
        comunicaciones con Tianguis, as&iacute; como cualquiera de sus
        publicaciones en nuestros blogs o foros y sus comunicaciones con otros
        usuarios de Tianguis. Tambi&eacute;n recopilamos informaci&oacute;n
        autom&aacute;ticamente cuando accede al Sitio, navega en &eacute;l, lo
        mira o usa de otro modo y recibimos informaci&oacute;n de proveedores
        externos o de otras fuentes disponibles.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >Nuestro fundamento legal para usar su informaci&oacute;n
            personal.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Cuando corresponda, seg&uacute;n las leyes aplicables, todo el
        procesamiento de su informaci&oacute;n personal tendr&aacute; un
        &ldquo;fundamento legal&rdquo;, como se detalla abajo.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >&iquest;C&oacute;mo usamos la informaci&oacute;n recopilada?</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Usamos informaci&oacute;n personal para brindarle un servicio de
        calidad y seguro, operar el Sitio, comprender c&oacute;mo las personas
        usan el Sitio y cumplir nuestras obligaciones hacia usted; para
        garantizar la integridad y seguridad de la plataforma; para prevenir el
        fraude; para comunicarnos con usted y enviarle comunicaciones de
        marketing directo; para promover y publicitar el Sitio, nuestros
        servicios y la plataforma de Tianguis; para cumplir las obligaciones
        legales de las autoridades p&uacute;blicas y las leyes y los reglamentos
        aplicables.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >Tiempo de conservaci&oacute;n de la informaci&oacute;n
            personal.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Guardaremos la informaci&oacute;n personal solo durante el tiempo
        que sea necesario para cumplir el prop&oacute;sito para el cual se
        recopil&oacute; la informaci&oacute;n mencionada. No obstante, en
        algunos casos conservaremos la informaci&oacute;n personal durante
        per&iacute;odos m&aacute;s prolongados.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px">Menores de edad.</span></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Este Sitio se ofrece y est&aacute; disponible para usuarios que
        tengan al menos 18 a&ntilde;os y sean mayores de edad para formar un
        contrato vinculante. Los menores de 18 y al menos 14 a&ntilde;os de
        edad, solo pueden usar el Sitio a trav&eacute;s de una cuenta de un
        padre, madre o tutor legal con el permiso correspondiente. No
        est&aacute; permitido el uso del Sitio o los servicios de Tianguis a los
        menos de 14 a&ntilde;os. No recopilamos de manera intencional
        informaci&oacute;n personal de ni&ntilde;os menores de 14
        a&ntilde;os.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >C&oacute;mo se comparte la informaci&oacute;n personal con
            terceros.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Compartimos informaci&oacute;n personal con terceros con el fin
        de operar el Sitio, brindarle a usted nuestros servicios, cumplir las
        obligaciones que imponen las leyes y los reglamentos aplicables y
        prevenir el fraude, los incumplimientos y las actividades
        ilegales.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >D&oacute;nde almacenamos la informaci&oacute;n personal.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Proveedores y procesadores de datos externos almacenar&aacute;n o
        procesar&aacute;n en nuestro nombre parte de la informaci&oacute;n
        personal que usted nos brinda, y pueden estar en otras jurisdicciones,
        como Estados Unidos.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong><span style="font-size: 16px">Cookies.</span></strong></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Utilizamos cookies y tecnolog&iacute;as similares (como balizas
        web, p&iacute;xeles, etiquetas y scripts) para mejorar y personalizar su
        experiencia, prestar nuestros servicios, analizar el rendimiento del
        sitio web y con fines de marketing.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><u
          ><span style="font-size: 16px"
            ><span style="text-decoration: none">&nbsp;</span></span
          ></u
        ></span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px">Enlaces externos.</span></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;El Sitio contiene enlaces a sitios de terceros y, si accede a un
        sitio de terceros desde el Sitio, cualquier dato que brinde a ese sitio
        y cualquier uso de esos datos por terceros no estar&aacute;n bajo el
        control de Tianguis ni sujetos a esta Pol&iacute;tica.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong><span style="font-size: 16px">Seguridad.</span></strong></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Implementamos medidas t&eacute;cnicas y organizativas para
        mantener la seguridad del Sitio y de la informaci&oacute;n personal de
        usted, y para prevenir el acceso no autorizado a ella, su
        p&eacute;rdida, uso indebido, alteraci&oacute;n, destrucci&oacute;n o
        da&ntilde;o mediante tecnolog&iacute;as est&aacute;ndar del sector y
        procedimientos internos.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >Actualizaci&oacute;n de la informaci&oacute;n personal.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Tomamos medidas para asegurarnos de que la informaci&oacute;n
        personal que recopilamos sea precisa y est&eacute; actualizada, y le
        permitimos actualizar su informaci&oacute;n a trav&eacute;s de los
        ajustes de perfil de la cuenta. Si considera que su informaci&oacute;n
        es incorrecta o inexacta de alg&uacute;n modo, av&iacute;senos de
        inmediato.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif"
        ><strong
          ><span style="font-size: 16px"
            >Comun&iacute;quese con nosotros.</span
          ></strong
        ></span
      ><span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;Para ejercer sus derechos sobre su informaci&oacute;n personal,
        puede abrir un ticket de Atenci&oacute;n al cliente o escribirnos a
        contacto@tianguis.app. Puede encontrar m&aacute;s informaci&oacute;n
        sobre sus derechos en la versi&oacute;n completa de la
        Pol&iacute;tica.</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >&nbsp;</span
      >
    </p>
    <p
      style="
        margin: 0cm;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        text-align: justify;
      "
    >
      <span style="font-size: 16px; font-family: Arial, Helvetica, sans-serif"
        >Lo anterior son solo los aspectos m&aacute;s destacados. Le
        recomendamos que lea m&aacute;s sobre la informaci&oacute;n que
        recopilamos, c&oacute;mo la utilizamos, que comprenda el significado de
        las cookies (no, no se comen) y mucho m&aacute;s en la versi&oacute;n
        larga de nuestra Pol&iacute;tica que se menciona a
        continuaci&oacute;n.</span
      >
    </p>
    <p
      style="
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8pt;
        margin-left: 0cm;
        font-size: 11pt;
        font-family: 'Calibri', sans-serif;
      "
    >
      <span style="font-family: Arial, Helvetica, sans-serif">&nbsp;</span>
    </p>
      <ion-button shape="clear " expand="block">Leer mas.</ion-button>

  </div>
</ion-content>
