<div class="profile">
  <img *ngIf="profile.photo" (click)="viewProfile(profile.id)" class="profile__image-avatar" src="{{ profile.photo }}" />
  <img *ngIf="!profile.photo" (click)="viewProfile(profile.id)" class="profile__image-avatar" src="../../assets/images/avatar-profile.jpg" />
  <div (click)="viewProfile(profile.id)" class="profile__title">
    {{ profile.name }}
  </div>

  <div class="profile__favorite">
    <div class="profile__favorite--text">
      {{ profile.products }}
      <div>Productos</div>
    </div>
    <div class="profile__favorite--rating">
      <ion-icon name="star"></ion-icon> {{ profile.rating }}
    </div>
  </div>

  <div class="profile__footer">
    <div class="profile__footer--text">
      {{ profile.sales }}
      <div>Ventas</div>
    </div>
    <div class="profile__footer--heart">
      <ion-icon (click)="eventFavorite(false)" *ngIf="profile.favorite" slot="start" name="heart"></ion-icon>
      <ion-icon (click)="eventFavorite(true)" *ngIf="!profile.favorite" slot="start" name="heart-outline"></ion-icon>
    </div>
  </div>
</div>
