.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ion-avatar{
    width:50%;
    height:auto ;

    
} */
ion-avatar img {
  width: 100% !important;
  height: 100% !important;
}

.favorite {
  font-size: 1.7rem;
}
ion-card-title  {
  font-size: 1rem;
}


