<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="{{coupon.image}}"
  />
  <ion-card-content>
    <ion-button color="primary">Obtener Cupón</ion-button>

    <ion-card-title
      >{{coupon.name}}</ion-card-title
    >

    <p>Aplican Resticciones</p>
     

    <p>Válido hasta:</p>
    <ion-label> {{coupon.expired}}</ion-label>
    <ion-card-subtitle
      >¿Donde Canjearlo? </ion-card-subtitle
    >
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Pasteles Clasicos
            <p>1av 0-65 zona 14</p>
          </ion-label>

        </ion-item>
        <ion-item-options side="end">
          <ion-item-option >Como llegar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Pasteles Clasicos
            <p>1av 0-65 zona 14</p>
          </ion-label>

        </ion-item>
        <ion-item-options side="end">
          <ion-item-option >Como llegar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
     
    </ion-list>
  </ion-card-content>
</ion-content>
