.price-title {
  text-align: right;
  font-size: 1.1rem;
}

.price-desc-title {
  text-align: right;
  font-size: 0.8rem;
}

ion-card img {
  width: 100%;
  height: 20vh;
}

.favorite {
  font-size: 1.7rem;
}
.text-title {
  font-size: 1rem;
}

ion-card-header {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

.product {
  background-color: hsl(204, 8%, 98%);
  margin: 0.3em;
  height: 100%;
  border-radius: 0.5em;
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &__image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 0.6em;
  }

  &__header {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    padding: 0 0.5em;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;

    &--price {
      text-align: left;

      &--old {
        font-size: 0.8rem;
        line-height: 1rem;
        color: rgb(156, 161, 161);
      }
    }

    &--heart {
      font-size: 2rem;
      margin: auto;
      padding: auto;
      color: var(--ion-color-favorite);
    }
  }

  &__title {
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: space-between;
    padding: 0 0.5rem;
    text-align: left;

    &--name {
      padding-right: 1rem;
      font-weight: 700;
      font-size: 1.1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
