<ion-card>
  <img src="{{product.images[0]}}" />
  <ion-card-header>
    <ion-row >
      <ion-col class="ion-text-start p-0" center>
         <ion-card-subtitle ><ion-icon name="star"></ion-icon> {{product.rating}} </ion-card-subtitle>
      </ion-col> 
      <ion-col class="ion-text-end p-0">
        <ion-icon name="heart" class="favorite"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-card-title  class="text-title">{{product.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title class="price-desc-title"><del>{{product.oldPrice | currency:'Q'}}</del> </ion-card-title>
  <ion-card-title class="price-title">{{product.price | currency:'Q'}}</ion-card-title>

  </ion-card-content>

</ion-card>