.price-title{
    text-align: right;
    font-size:1.1rem;
}



.price-desc-title{
    text-align: right;
    font-size:0.8rem;

}

.favorite{
    font-size:2rem;
}
.text-title{
    font-size:1rem;
}

ion-card-header{
    padding:10px;
}

.p-0{
    padding:0;
}