<div class="offer">
  <img class="offer__image" src="{{ product.images[0] }}" />
  <div class="offer__header">
    <div class="offer__header--price">
      {{ product.price | currency: "Q" }}
      <div *ngIf="product.oldPrice > 0" class="offer__header--price--old">
        <del>{{ product.oldPrice | currency: "Q" }}</del>
      </div>
    </div>

    <div class="offer__header--heart">
      <ion-icon class="" name="heart-outline"></ion-icon>
    </div>
  </div>
  <div class="offer__title">
    <div class="offer__title--name">
      {{ product.name }}
    </div>
    <div class="offer__title--rating">
      <ion-icon name="star"></ion-icon> {{ product.rating }}
    </div>
  </div>
</div>
