<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>      
      <ion-item lines="none" >
        <ion-avatar slot="start">
          <ion-icon name="notifications-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <b>
            Productos en Ofertas
          </b> <br>
          <p>Disfruta nuestos productos en oferta en tu primera compra</p>
          <div class="time">Hoy</div>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>      
      <ion-item lines="none" >
        <ion-avatar slot="start">
          <ion-icon name="notifications-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <b>
            Nuevas Categorias de productos
          </b> <br>
          <p>Sean agregado nuevas ofertas de productos</p>
          <div class="time">Hace 2 días</div>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>      
      <ion-item lines="none" >
        <ion-avatar slot="start">
          <ion-icon name="notifications-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <b>
            Cotizaciones
          </b> <br>
          <p>Tienes 4 nuevas ofertas para tu cotiación No. 3453</p>
          <div class="time">Hace 3 días</div>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
