.title-balance{
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #3a4d61;
}

ion-button {
    --border-radius: 15px;
}
.containet{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.amount-desc{
    font-size: 1rem;
    color: #CD5C5C;
}

.amount-add{
    font-size: 1rem;
    color: #1ABC9C;
}