<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-notification-icon [newNotifications]="10"></app-notification-icon>
      <app-chat-icon [newNotifications]="10"></app-chat-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <swiper [slidesPerView]="1" [spaceBetween]="2" class="mySwiper">
    <ng-template
      swiperSlide
      *ngFor="let img of product.images"
      class="ion-align-items-stretch"
    >
      <img src="{{img}}" />
    </ng-template>
  </swiper>
  <ion-card-content>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{profile.photo}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{profile.name}}</h2>
        <p class="ion-text-start">
          <ion-icon name="star"></ion-icon> {{profile.rating}}
        </p>
      </ion-label>
    </ion-item>
    <ion-card-title>{{product.name}}</ion-card-title>
    <ion-card-subtitle
      ><ion-icon name="star"></ion-icon> {{product.rating}}
    </ion-card-subtitle>
    <p>{{product.description}}</p>
    <ion-card-title *ngIf="product.oldPrice >0" class="price-desc-title"
      ><del>{{product.oldPrice | currency:'Q'}}</del>
    </ion-card-title>
    <ion-card-title class="price-title"
      >{{product.price | currency:'Q'}}</ion-card-title
    >
    <p>Categorias</p>
    <ion-row>
      <div *ngFor="let category of product.categories">
        <ion-col
          ><ion-badge color="medium">{{category.name}} </ion-badge>
        </ion-col>
      </div>
    </ion-row>

    <p>Descripción</p>
    <ion-label> {{product.description}} </ion-label>
  </ion-card-content>
</ion-content>
<ion-footer>
  <ion-button
    expand="block"
    shape="round"
    (click)="sendMessage(product.profileId)"
    >Comprar</ion-button
  >
</ion-footer>
