<ion-header [translucent]="true">
  <app-header-bar [isAuth]="true"></app-header-bar>
</ion-header>

<ion-content class="container" [fullscreen]="true" >
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshCont($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<app-category-list
    class="item-list"
    [categories]="categories[0]"
  ></app-category-list>
  <!-- List Products discounted -->
  <app-discounted-product-list [productsFavorite]="productsFavorite"></app-discounted-product-list>
  <!-- Profile list -->
  <app-recommended-profile-list
    [profiles]="profiles[0]"
    [profilesFavorite]="profilesFavorite"
  ></app-recommended-profile-list>
  <!-- List Products recomended -->
  <app-recommended-product-list [productsFavorite]="productsFavorite"></app-recommended-product-list>
  <!-- List Product -->
  <app-list-product-card-big [products]="productsBig"></app-list-product-card-big>
</ion-content>

